* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}
#page-wrapper {
  height: 100vh;
}
#page-wrapper,body {
  background-color: black;
}
a {
  color: white;
}

#logo {
  width: 92.5px;
  height: 28.5px;
}

#search-icon {
    width: 15px;
    height: 15px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#notification-icon {
    width: 15px;
    height: 15px;
}

#profile-icon {
    border-radius: 5px;

}

.right {
    position: relative;
    left: 65%;
}

h1, h5{
    color: white;
}

.btn{
    border-radius: 0px;
    background-color: black;
    border-color: white;
}
.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle{
    border-radius: 0px;
    background-color: black;
    border-color: white;
}

.dropdown-menu {
    border-radius: 0px;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.dropdown-item {
    color: white;
}

.no-bullets {
    list-style-type: none;
}
